<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>枚举.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>结构体.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>结构体与函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>结构体初始化.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>结构体存储细节.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>结构体定义的多种方式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>结构体嵌套.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>结构体指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>结构体数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>结构体类型的作用域.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A351E6001F14A51A00D4EA6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A351E60E1F14AD5D00D4EA6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A351E6191F14BD8600D4EA6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A351E6241F14C13800D4EA6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A390BB301F15AA8F008F505C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A390BB3B1F15AF28008F505C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A390BB461F15B351008F505C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A390BB511F15B7E0008F505C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A390BB5C1F15BFBE008F505C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A390BB671F15C9F2008F505C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
