<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-知识点回顾.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-指针的定义和初始化.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-指针练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>03-指针练习2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>04-多级指针(了解).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>05-指针为什么要区分类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>void类型指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>指针与一维数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>指针与一维数组练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>指针运算.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A328DD031F10B49E0056E1A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A33217E91F0E8A13002D5B05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A38614251F0E09F3002F271C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A38614331F0E0A0F002F271C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A386143E1F0E1E45002F271C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3E1F8911F0F202300CF0240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3E1F89C1F0F2D0300CF0240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3E1F8A71F0F37D200CF0240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3E1F8B21F0F7D0F00CF0240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3E1F8BD1F0F858400CF0240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3E1F8C81F0F8D7900CF0240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
