<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OC-方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OC-方法2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OC-类方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>OC-类方法2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TheFirstOCProgram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>函数和方法的区别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>局部变量_全局变量_成员变量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>常见错误.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>第一个OC类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>第二个OC类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3BF07B91F199439003E8E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BF07CA1F19A947003E8E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BF07D51F19BCD5003E8E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BF07E01F19C4FE003E8E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BF07EB1F19F97E003E8E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BF07F61F1A0366003E8E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BF08011F1A0D79003E8E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BF080C1F1A1EC7003E8E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BF08171F1A2285003E8E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BF08221F1A28F1003E8E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
