<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>#pragma mark基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NSString的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OC多文件开发.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>day2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>fight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>修改项目末班.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>匿名对象.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>对象作为方法的参数传递.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>对象作为方法的参数连续传递.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>对象作为返回值类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>结构体作为对象的属性.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3A598F21F1AE7E700074138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A599001F1AEF1600074138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A5990B1F1AF61700074138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A599161F1B001300074138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A599211F1B072600074138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A5992C1F1B163800074138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A599371F1B2B0F00074138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A599421F1B3AF200074138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A5994D1F1B3FEE00074138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A599641F1B4A2700074138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A5996F1F1B4DDB00074138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A599801F1B583000074138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
