<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>const.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>extern和static对函数的作用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>lastDay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>static对局部变量的作用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>typedef.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>typedef和宏定义的区别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>宏定义.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>带参宏定义.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>文件包含.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>条件编译.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>条件编译的其他写法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3530D251F16FD6900E6685D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3530D331F16FD8700E6685D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3530D3E1F17019000E6685D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3530D4C1F17067C00E6685D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3530D571F1711CE00E6685D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3530D621F171AD000E6685D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3530D6D1F17565100E6685D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3530D781F17595600E6685D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3530D861F1761DD00E6685D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3530D911F17726900E6685D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3530D9C1F1776B200E6685D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
