<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>const指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>二维数组的指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>函数与指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>函数指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>函数指针使用2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>函数指针的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>动态存储区.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>指针与字符串.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>指针数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>数组指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A326096E1F1364CC00A8F326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A328DD131F10CB340056E1A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A328DD211F10D4960056E1A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A328DD2C1F10EA410056E1A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A328DD371F11234C0056E1A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A378BA5F1F11C1DB00EA2079</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A5513B1F11E76200EF0476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A551461F12092F00EF0476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A551511F123D8E00EF0476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A5515C1F1242C700EF0476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
